{% extends "layout.html" %}
{% block content %}
<main>
    <section class="project">
        <h2>Mac Development Ansible Playbook</h2>
        <p>This playbook installs and configures most of the software I use on my Mac for web and software development. Some things in macOS are slightly difficult to automate, so it can't do <em>everything</em>, but it does do a lot, and helps me keep multiple Macs' configuration synchronized.</p>
        <p><strong>URL:</strong> <a href="https://example.com">Mac Development Ansible Playbook</a></p>
        <a href="#">Read more</a>
    </section>

    <section class="project">
        <h2>Red Shirt Jeff.com Merch Store</h2>
        <p>Red Shirt Jeff.com was created as the official merch store for the Jeff Geerling YouTube channel.</p>
        <a href="#">Read more</a>
    </section>
</main>
{% endblock %}

    